
<div class="links_for_admin">
  <div id="post_admin">
    <h2>post/index</h2>
  </div>
  <div id="pic_admin">
    <h2>pic/index</h2>
  </div>
  <div id="contribution_admin">
    <h2>contribution/index</h2>
  </div>
  <div id="comment_admin">
    <h2>comment/index</h2>
  </div>
  <div id="user_admin">
    <h2>user/index</h2>
  </div>
</div>
