
<%= javascript_include_tag 'infinite-scroll' %>
<!-- views/show_post/index.html.erb -->
<div id="content">
  <%= render(partial: 'show_post', collection: @show_post) %>
</div>

<br/>

<% unless @show_post.current_page == @show_post.total_pages %>
  <div class="navigation" id="view-more">
    <%= link_to('View More', url_for(page: @show_post.current_page + 1), remote: true, :class => "ui button") %>
  </div>
<% end %>
