<% provide(:title, @user.uid) %>
<%# if @user %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <h1>
          <%= gravatar_for @user %>
          <%= @user.uid %>
        </h1>
        <%= render 'shared/user_info' %>
      </section>
      <section class="post_form">
        <% if user_signed_in? %>
        <%= render 'shared/post_form' %>
        <% end %>
      </section>
    </aside>
  </div>
<div id="post_content"></div>
<div id="geoLocation"></div>
<div id="coordinate"></div>
<%# end %>
