<footer class="footer">
  <small>
  Copyright © dauzau-go.pics All Rights Reserved.
  </small>
  <nav>
    <ul>
      <li><%= link_to t('home.footer.rule'), '#' %></li>
      <li><%= link_to t('home.footer.contact'), 'https://twitter.com/' %></li>
    </ul>
  </nav>
</footer>
